.checkbox_creator_container {
  position: relative;
  width: 100%;
  height: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #448aff;
  margin-top: 15px;
}
.checkbox_creator_input {
  width: 80%;
  height: 70%;
  font-size: 18px;
  margin-bottom: 20px;
  border-bottom: 1px solid #000;
}
.closed {
  display: none;
}
