.column_container {
  display: grid;
  grid-auto-rows: auto;
  background-color: #fff;
  height: auto;
  margin: 20px;
  padding: 0;
  border-radius: 20px;
  padding-bottom: 5px;
}
.column_header {
  width: 100%;
  height: 4vh;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 80% 10%;
  margin-bottom: 1%;
}
.column_container .column_name {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  font-size: 15px;
  padding-left: 16%;
  text-align: center;
}
.add_checkbox_button {
  width: 2vw;
  height: 2vh;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  background-size: contain;
  background-repeat: no-repeat;
}
.add_checkbox_button.add {
  background-image: url("./img/plus_icon.png");
}
.add_checkbox_button.submit {
  background-image: url("./img/done_icon.png");
}
.checkbox_container {
  display: flex;
  justify-content: start;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.button_container {
  grid-row-start: 1;
  padding-top: 10px;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
}
.delete_button {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  width: 2vw;
  height: 2vh;
}
