.registration_block,
.profile_container {
  height: 100%;
  width: 12vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 50px;
}
.profile_container {
  width: 5%;
}
.default_user_photo {
  width: 30%;
  height: auto;
  margin: 0px 5px 0px 0px;
}
.profile_button {
  min-width: 2vw;
  width: auto;
  height: 2vh;
  margin: 0px 5px 0px 5px;
  background-image: url("./img/profile_photo.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1000;
}
#profile_menu {
  min-width: 3vw;
  min-height: 4vh;

  height: auto;
  position: absolute;
  right: 1vw;
  top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  transition: transform 0.5s cubic-bezier(0, 0.52, 0, 1);
  transition-timing-function: ease-in-out;
}
.logout_button {
  min-width: 1vw;
  width: auto;
  height: 1vh;
}
#profile_menu.closed {
  transform: translate3d(0, -10vh, 0);
}
#profile_menu.opened {
  transform: translate3d(0, 0vh, 0);
}
@media (max-width: 1600px) {
  .registration_block,
  .profile_container {
    width: 15vw;
  }
}
@media (max-width: 1250px) {
  .registration_block,
  .profile_container {
    width: 20vw;
  }
}
@media (max-width: 1000px) {
  .registration_block,
  .profile_container {
    width: 29vw;
  }
}
@media (max-width: 650px) {
  .registration_block,
  .profile_container {
    width: 35vw;
  }
}
@media (max-width: 450px) {
  .registration_block,
  .profile_container {
    width: 45vw;
    margin-right: 10px;
  }
}
