.plan_form_container {
  width: 35%;
  position: absolute;
  height: 30vh;
  top: 35vh;
  left: 32.5%;
  z-index: 1000;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 30px;
}
.close_button {
  position: relative;
  top: 5%;
  font-weight: 700;
  left: 95%;
  color: black;
}
.opened {
  visibility: visible;
}
.closed {
  display: none;
}
.plan_form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.plan_form label {
  height: 15vh;
  margin-top: 2vh;
  font-size: 25px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.plan_form label input {
  font-size: 25px;
  margin-top: 10px;
  border-bottom: 1px solid black;
}
.plan_form label input:focus {
  border-bottom: 2px solid #303f9f;
}
.submit_plan {
  background-color: #448aff;
  padding: 5px 15px;
  border: 2px solid#448AFF;
  border-radius: 20px;
  transition-duration: 0.3s;
  color: white;
  font-size: 20px;
  margin-top: 40px;
}
.submit_plan:hover {
  transform: scale(1.05);
  cursor: pointer;
}
