.plan_container {
  background-color: white;
  position: relative;
  top: 3vh;
  left: 5vh;
  margin-top: 3vh;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  border-radius: 40px;
}
.plan_container.hide {
  width: 30vw;
  height: 20vh;
  position: relative;
}
.plan_container.opened {
  width: 85vw;
  justify-content: start;
  height: 85vh;
}
.plan_container p {
  position: relative;
  width: 70%;
  height: auto;
  text-transform: uppercase;
  font-size: 40px;
  padding: 2px;
  text-align: center;
  font-weight: 600;
}
.plan_container.opened p {
  margin-top: -0.5%;
}
.hide_button {
  position: relative;
  top: 5%;
  left: 45%;
  height: 5%;
  width: 5%;
  background-size: contain;
  background-image: url("./img/hide_button.png");
  background-repeat: no-repeat;
}
.create_column_button {
  color: white;
  position: relative;
  top: -5%;
  left: 42%;
  height: auto;
  width: 10%;
  background-color: #448aff;
  padding: 5px 10px 5px 10px;
  border: 2px solid#448AFF;
  border-radius: 20px;
  transition-duration: 0.3s;
}
.create_column_button:hover {
  transform: scale(1.05);
}
.columns_container {
  width: 80%;
  height: auto;
  margin-left: -15%;
  display: flex;
  justify-content: start;
  align-items: center;
}
