.progress_bar_full {
  position: relative;
  left: 25%;
  width: 50%;
  height: 1vh;
  background-color: #fff;
  z-index: 500;
  border: 3px solid #448aff;
  border-radius: 20px;
}
.progress_bar_done {
  height: 100%;
  background-color: #448aff;
  z-index: 1000;
}
.closed {
  display: none;
}
