.progress_bar_container {
  position: relative;
  top: 12vh;
}
.progress_bar_full {
  width: 30vw;
  height: 1vh;
  background-color: #fff;
  z-index: 500;
  border: 3px solid #448aff;
  border-radius: 20px;
}
.progress_bar_done {
  height: 100%;
  position: relative;
  background-color: #448aff;
  z-index: 1000;
}
.closed {
  display: none;
}
