.reg_container {
  width: 30%;
  position: absolute;
  left: 35%;
  top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000;
}
.reg_form {
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 30px;
  position: relative;
  display: flex;
  width: 100%;
  height: 80vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.reg_form label {
  font-size: 25px;
  margin-top: 10px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.reg_form label:first-child {
  margin-top: 0;
}
.reg_form label input {
  font-size: 25px;
  margin-top: 30px;
  border-bottom: 1px solid black;
}
.reg_form label input:focus {
  border-bottom: 2px solid #303f9f;
}
.submit_auth {
  background-color: #448aff;
  padding: 5px 15px;
  border: 2px solid#448AFF;
  border-radius: 20px;
  transition-duration: 0.3s;
  color: white;
  font-size: 20px;
  margin-top: 40px;
}
.submit_auth:hover {
  transform: scale(1.05);
  cursor: pointer;
}
@media (max-width: 1200px) {
  .reg_container {
    width: 60%;
    left: 20%;
  }
}
@media (max-width: 800px) {
  .reg_container {
    width: 80%;
    left: 10%;
    font-size: 20px;
  }
}
.error {
  color: red;
}
